<ul class="list-group list-group-horizontal">
    <li class="{% if request.resolver_match.kwargs.pk == category.pk or 0 %}
                  list-group-item list-group-item-action list-group-item-primary active
               {% else %}
                  list-group-item list-group-item-action list-group-item-primary
               {% endif %}">
        <a href="{% url 'catalog:category' 0 %}">Все</a></li>
  {% for category in categories %}
    <li class="{% if request.resolver_match.kwargs.pk == category.pk %}
                  list-group-item list-group-item-action list-group-item-primary active
               {% else %}
                  list-group-item list-group-item-action list-group-item-primary
               {% endif %}">
        <a href="{% url 'catalog:category' category.pk %}">{{ category.name }}</a></li>
  {% endfor %}
</ul>