{% extends 'adminapp/base_admin.html' %}
{% block content %}
<div>
    <h3>Категории</h3>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'admin_custom:category_create' %}">Создать новую категорию</a></li>
    </ul>
    <br>
    <ul class="list-group list-group-flush">
        {% for objects in object_list %}
            <li class="list-group-item"><a href="{% url 'admin_custom:category_read' objects.pk %}">{{objects.name}}</a></li>
        {% endfor %}
    </ul>

</div>
{% endblock %}